.itemProgramm-container{
    background-color: #37474f;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
}

.itemProgramm-textWrap{
    /* display: flex; */
    margin-left: 15px;
}

.itemProgramm-name{
    color: #ffffff;
    display: block;
    font-size: 20px;
}

.itemProgramm-description{
    color: #b0bec5;
}